@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root{
    color: white;
}
body{
    @apply bg-black;

}
@theme{
    --font-fancy :"old standard tt", serif;
    --font-body : 'Roboto', sans-serif;
    --font-dispaly :"Exo 2", sans-serif;
    --color-accent : oklch(0.905 0.182 98.111);
    --color-secondary : oklch(0.707 0.022 261.325);
    --color-accent-hover : oklch(0.905 0.129 101.54);
}